html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.ldBar-label{
	display: none;
}

body{
	background-color: #121212;
	color: #cccccc;
	padding-left: 3rem;
}

a:link{
	color: #bb6060;
}

a:visited{
	color: #bb6060;
}

a:hover{
	color: #a24020
}

p
{
	font-family: 'Barlow', sans-serif;
}

h1{
	text-align: center;
	color: #deb580;
	font-family: 'Heebo', sans-serif;
}
h2{
	text-align: center;
	font-family: 'Source Code Pro', monospace
}
h3{
	text-align: center;
	font-family: 'Source Code Pro', monospace
}
h4{
	font-family: 'Source Code Pro', monospace
}

a{
	padding-right: 1rem;
}